<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exam"
        tools:targetApi="31">
        <activity
            android:name=".temyFive"
            android:exported="false" />
        <activity
            android:name=".temy.temyFour"
            android:exported="false" />
        <activity
            android:name=".temy.teymThree"
            android:exported="false" />
        <activity
            android:name=".temy.temyTwo"
            android:exported="false" />
        <activity
            android:name=".temy.temyOne"
            android:exported="false" />
        <activity
            android:name=".QuizResult"
            android:exported="false" />
        <activity
            android:name=".pervyjTest"
            android:exported="false" />
        <activity
            android:name=".HomeAccount"
            android:exported="false" />
        <activity
            android:name=".quest.questOne"
            android:exported="false" />
        <activity
            android:name=".Quest"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Temy"
            android:exported="false"
            android:label="@string/title_activity_temy"
            android:theme="@style/Theme.Exam.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>